.container {
  //min-width: 1800px;
  min-width: 768px;
  //max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  //font-size: '1em';
  font-family: 'Arial';
  background: #fff;
  //@media screen and (max-width: 1200px) {
  //  .container {
  //    width: 1200px;
  //  }
  //}
  :global {
    //padding-right: 0px;
    //padding-left: 0px;
    //margin-left: auto;
    //margin-right: auto;
    [data-theme='dark'] .site-layout .site-layout-background {
      background: #141414;
      //background: #fff;
    }
    .site-layout {
      //max-width:1280px;
      //min-width: 780px;
      //margin-left:auto;
      //margin-right:auto;
      margin-top: 0px;
      padding: 0 50px;
      background: #fff;
    }
    .site-layout-background {
      background: #fff;
    }
    .container {
      background: #fff;
    }
  }
}
.site-layout .site-layout-background {
  //margin-left: 5%;
  //margin-right: 5%;
  padding: 200px;
  background: #fff;
}
.headercontent {
  font-size: larger;
  font-family: Arial;
}
