.title {
  background: rgb(121, 242, 157);
}
.introduction {
  margin-top: 15px;
  color: #99d8d0;
  font-size: medium;
  font-family: Arial;
}
.wordcloud {
  margin-top: 50px;
}
.human {
  display: block;
  min-width: 750px;
  //height: ;
  margin-top: 50px;
  vertical-align: middle;
  horiz-align: center;
}
.brain {
  position: absolute;
  top: 9%;
  left: 65%;
  transition: all 0.5s;
}
.brain:hover {
  transform: scale(1.2);
}
.lung {
  position: absolute;
  top: 16%;
  left: 71%;
  transition: all 0.5s;
}
.lung:hover {
  transform: scale(1.2);
}
.heart {
  position: absolute;
  top: 23%;
  left: 74%;
  transition: all 0.5s;
}
.heart:hover {
  transform: scale(1.2);
}
.liver {
  position: absolute;
  top: 30%;
  left: 76%;
  transition: all 0.5s;
}
.liver:hover {
  transform: scale(1.2);
}
.blood {
  position: absolute;
  top: 37%;
  left: 76%;
  transition: all 0.5s;
}
.blood:hover {
  transform: scale(1.2);
}
.largeintestine {
  position: absolute;
  top: 44%;
  left: 74%;
  transition: all 0.5s;
}
.largeintestine:hover {
  transform: scale(1.2);
}
.smallintestine {
  position: absolute;
  top: 51%;
  left: 71%;
  transition: all 0.5s;
}
.smallintestine:hover {
  transform: scale(1.2);
}
.bone {
  position: absolute;
  top: 58%;
  left: 65%;
  transition: all 0.5s;
}
.bone:hover {
  transform: scale(1.2);
}
.eye {
  position: absolute;
  top: 9%;
  left: 8%;
  transition: all 0.5s;
}
.eye:hover {
  transform: scale(1.2);
}
.bladder {
  position: absolute;
  top: 16%;
  left: 5%;
  transition: all 0.5s;
}
.bladder:hover {
  transform: scale(1.2);
}
.pancreas {
  position: absolute;
  top: 23%;
  left: 2%;
  transition: all 0.5s;
}
.pancreas:hover {
  transform: scale(1.2);
}
.spleen {
  position: absolute;
  top: 30%;
  left: 0%;
  transition: all 0.5s;
}
.spleen:hover {
  transform: scale(1.2);
}
.uterus {
  position: absolute;
  top: 37%;
  left: 0%;
  transition: all 0.5s;
}
.uterus:hover {
  transform: scale(1.2);
}
.skin {
  position: absolute;
  top: 44%;
  left: 2%;
  transition: all 0.5s;
}
.skin:hover {
  transform: scale(1.2);
}
.kidney {
  position: absolute;
  top: 51%;
  left: 5%;
  transition: all 0.5s;
}
.kidney:hover {
  transform: scale(1.2);
}
.gallbladder {
  position: absolute;
  top: 58%;
  left: 8%;
  transition: all 0.5s;
}
.gallbladder:hover {
  transform: scale(1.2);
}
.mouse {
  display: block;
  min-width: 450px;
  margin-top: 50px;
  vertical-align: middle;
  horiz-align: center;
}
.mbrain {
  position: absolute;
  top: 9%;
  left: 65%;
  transition: all 0.5s;
}
.mbrain:hover {
  transform: scale(1.2);
}
.mlung {
  position: absolute;
  top: 16%;
  left: 71%;
  transition: all 0.5s;
}
.mlung:hover {
  transform: scale(1.2);
}
.mheart {
  position: absolute;
  top: 23%;
  left: 74%;
  transition: all 0.5s;
}
.mheart:hover {
  transform: scale(1.2);
}
.mliver {
  position: absolute;
  top: 30%;
  left: 76%;
  transition: all 0.5s;
}
.mliver:hover {
  transform: scale(1.2);
}
.mblood {
  position: absolute;
  top: 37%;
  left: 76%;
  transition: all 0.5s;
}
.mblood:hover {
  transform: scale(1.2);
}
.mlargeintestine {
  position: absolute;
  top: 44%;
  left: 74%;
  transition: all 0.5s;
}
.mlargeintestine:hover {
  transform: scale(1.2);
}
.msmallintestine {
  position: absolute;
  top: 51%;
  left: 71%;
  transition: all 0.5s;
}
.msmallintestine:hover {
  transform: scale(1.2);
}
.mbone {
  position: absolute;
  top: 59%;
  left: 65%;
  transition: all 0.5s;
}
.mbone:hover {
  transform: scale(1.2);
}
.meye {
  position: absolute;
  top: 9%;
  left: 8%;
  transition: all 0.5s;
}
.meye:hover {
  transform: scale(1.2);
}
.mbladder {
  position: absolute;
  top: 16%;
  left: 5%;
  transition: all 0.5s;
}
.mbladder:hover {
  transform: scale(1.2);
}
.mpancreas {
  position: absolute;
  top: 23%;
  left: 2%;
  transition: all 0.5s;
}
.mpancreas:hover {
  transform: scale(1.2);
}
.mspleen {
  position: absolute;
  top: 30%;
  left: 0%;
  transition: all 0.5s;
}
.mspleen:hover {
  transform: scale(1.2);
}
.muterus {
  position: absolute;
  top: 37%;
  left: 0%;
  transition: all 0.5s;
}
.muterus:hover {
  transform: scale(1.2);
}
.mskin {
  position: absolute;
  top: 44%;
  left: 2%;
  transition: all 0.5s;
}
.mskin:hover {
  transform: scale(1.2);
}
.mkidney {
  position: absolute;
  top: 51%;
  left: 5%;
  transition: all 0.5s;
}
.mkidney:hover {
  transform: scale(1.2);
}
.mgallbladder {
  position: absolute;
  top: 59%;
  left: 8%;
  transition: all 0.5s;
}
.mgallbladder:hover {
  transform: scale(1.2);
}
